@media screen and (max-width: 576px) {
    .second-row,.third-row{
        flex-direction: column;
    }

    .third-row-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (min-width: 577px) {
    .row{
        height: 400px;
    }
}